<div class="mk-side-dashboard">
    <div class="side-dash-top-widgets">
        <section id="text-4" class="widget widget_text">
            <div class="textwidget"><img
                    src="/img/D-logo.png">
            </div>
        </section>
    </div>
    <nav id="mk-sidedash-navigation" class="side_dashboard_menu">
        <ul id="menu-main-menu" class="sidedash-navigation-ul">
            <li id="menu-item-4533" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/">Home</a></li>
            <li id="menu-item-4527" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/about.html">About</a></li>
            <li id="menu-item-4529"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                    href="">Podcasts</a>
                <ul class="sub-menu">
                    {{ range $key, $value := .Site.Data }}
                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/{{$key}}/">{{$value.name}}</a>
                    </li>
                    {{ end }}


                </ul>
            </li>

            <li id="menu-item-4525" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                    href="/contact.html">Contact</a></li>
        </ul>
    </nav>
    <div class="side-dash-bottom-widgets">
        <section id="social-2" class="widget widget_social_networks">
            <div id="social-55560e5fcc0ca" class="align-left"><a href="#"
                                                                 rel="nofollow"
                                                                 class="builtin-icons mk-square-pointed custom small facebook-hover"
                                                                 target="_blank" alt="Follow Us on facebook"
                                                                 title="Follow Us on facebook"><i
                    class="mk-jupiter-icon-simple-facebook"></i></a><a href="#"
                                                                       rel="nofollow"
                                                                       class="builtin-icons mk-square-pointed custom small googleplus-hover"
                                                                       target="_blank" alt="Follow Us on googleplus"
                                                                       title="Follow Us on googleplus"><i
                    class="mk-jupiter-icon-simple-googleplus"></i></a><a href="#"
                                                                         rel="nofollow"
                                                                         class="builtin-icons mk-square-pointed custom small twitter-hover"
                                                                         target="_blank" alt="Follow Us on twitter"
                                                                         title="Follow Us on twitter"><i
                    class="mk-jupiter-icon-simple-twitter"></i></a>
                <style>#social-55560e5fcc0ca a {
                    opacity: 100 !important;
                    color: #ffffff !important;
                }

                #social-55560e5fcc0ca a:hover {
                    color: #f16f4f !important;
                }</style>
            </div>
        </section>
    </div>
</div>
