<li><a class="facebook-share" data-title="Check out this Podcast: {{index .Site.Data .Section "name"}} - {{.Title}}"
    data-url="{{.RelPermalink}}"
    href="{{.RelPermalink}}"><i
            class="mk-jupiter-icon-simple-facebook"></i></a></li>
<li><a class="twitter-share" data-title="Check out this Podcast: {{index .Site.Data .Section "name"}} - {{.Title}}"
    data-url="{{.RelPermalink}}"
    href="{{.RelPermalink}}#"><i
            class="mk-moon-twitter"></i></a></li>
<li><a class="googleplus-share" data-title="Check out this Podcast: {{index .Site.Data .Section "name"}} - {{.Title}}"
    data-url="{{.RelPermalink}}"
    href="{{.RelPermalink}}"><i
            class="mk-jupiter-icon-simple-googleplus"></i></a></li>
<li><a class="pinterest-share"
       data-image="/img/covers/{{.Section}}.jpg"
       data-title="Check out this Podcast: {{index .Site.Data .Section "name"}} - {{.Title}}"
    data-url="{{.RelPermalink}}"
    href="{{.RelPermalink}}"><i
            class="mk-jupiter-icon-simple-pinterest"></i></a></li>
<li><a class="linkedin-share"
       data-desc=""
       data-title="Check out this Podcast: {{index .Site.Data .Section "name"}} - {{.Title}}"
    data-url="{{.RelPermalink}}"
    href="{{.RelPermalink}}"><i
            class="mk-jupiter-icon-simple-linkedin"></i></a></li>