<!DOCTYPE html>
<html>

    {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>





<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  {% include head.html %}

</head>
<body class="home page page-id-5 page-template-default  wpb-js-composer js-comp-ver-4.5.1 vc_responsive" data-backText="Back" data-vm-anim="1">
<div id="mk-boxed-layout">
  <div id="mk-theme-container">
    {% include header.html %}
    <div id="theme-page">
      <div class="mk-main-wrapper-holder">
        <div id="mk-page-id-5" class="theme-page-wrapper mk-main-wrapper full-layout no-padding mk-grid vc_row-fluid">
          <div class="theme-content no-padding" itemprop="mainContentOfPage">
          </div></div></div><div class="wpb_row vc_row  vc_row-fluid  mk-fullwidth-true  attched-false vc_row-fluid">
      <div style="" class="vc_col-sm-12 wpb_column column_container ">
        <div class="portfolio-grid "><div class="portfolio-loader"><div><div class="mk-preloader"></div></div></div><div class="ajax-container"><div class="ajax-controls"><a href="index.html#" class="close-ajax"><i class="mk-moon-close-2"></i></a><a href="index.html#" class="next-ajax"><i class="mk-jupiter-icon-arrow-right"></i></a><a href="index.html#" class="prev-ajax"><i class="mk-jupiter-icon-arrow-left"></i></a></div></div><div class="loop-main-wrapper"><section data-style="grid" data-uniqid="1411810861-5426862d578e5" id="mk-portfolio-loop-5555fa49d6f60" class="mk-portfolio-container mk-theme-loop mk-portfolio-grid page-nav-style ">

          {% for podcast_metadata in site.data %}
          {{podcast_metadata[0]}}
          <article id="{{$key}}" class="mk-portfolio-item mk-portfolio-grid-item grid-1411810861-5426862d578e5 mk-isotop-item slidebox-hover portfolio-five-column portfolio-with-sidebar portfolio-image goodies">
            <div style="margin:0 0px 0px;" class="item-holder">
              <div class="featured-image ">
                <img alt="{{podcast_metadata[1].name}}" title="{{podcast_metadata[1].name}}" src="/img/covers/{{podcast_metadata[0]}}.jpg"/>
                <div class="image-hover-overlay"></div>
                <div class="grid-hover-icons">
                  <a class="permalink-badge project-load" data-fancybox-group="portfolio-grid" data-post-id="{{podcast_metadata[0]}}" rel="portfolio-grid" target="_self" href="{{podcast_metadata[0]}}">
                    <i class="mk-jupiter-icon-arrow-circle"></i>
                  </a>
                  <a data-fancybox-group="portfolio-grid" title="{{podcast_metadata[1].name}} - {{podcast_metadata[1].author}}" class="zoom-badge mk-lightbox" href="{{podcast_metadata[0]}}/cover.jpg">
                    <i class="mk-jupiter-icon-plus-circle"></i>
                  </a>
                </div>
                <div class="portfolio-meta">
                  <h3 class="the-title">{{podcast_metadata[1].name}}</h3>
                  <div class="clearboth"></div>
                  <div class="portfolio-categories"><span>{{podcast_metadata[1].author}}</span> </div>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
        </section><div class="clearboth"></div>
          <div class="mk-pagination-holder"><a class="mk-loadmore-button page-nav-style-btn" style="display:none;" href="index.html#"><i class="mk-moon-loop-4"></i><i class="mk-moon-arrow-down-4"></i>Load More</a></div><div class="mk-preloader"></div></div></div><div id="ajax-5555fa49d6f60" class="mk-dynamic-styles"> </div>
      </div></div><div class="mk-main-wrapper-holder"><div class="theme-page-wrapper -layout mk-grid vc_row-fluid no-padding"><div class="theme-content no-padding">
      <div class="clearboth"></div>
    </div>
      <div class="clearboth"></div>
    </div>
      <div class="clearboth"></div>
    </div>
    </div>
    {% include footer.html %}
  </div>
  {% include menu.html %}
</div>
<a href="#" class="mk-go-top"><i class="mk-icon-chevron-up"></i></a>

<script type='text/javascript' src='/js/scripts-vendors.js'></script>
<script type='text/javascript' src='/js/smoothscroll.js'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js'></script>

<script type="text/javascript">
  window.$ = jQuery

  $('.mk-dynamic-styles').each(function() {
    $(this).remove();
  });

  function ajaxStylesInjector() {
    $('.mk-dynamic-styles').each(function() {
      var $this = $(this),
              id = $this.attr('id'),
              commentedStyles = $this.html();
      styles = commentedStyles
              .replace('<!--', '')
              .replace('-->', '');


      if(dynamic_styles_ids.indexOf(id) === -1) {
        $('style[data-ajax]').append(styles);
        $this.remove();
      }

      dynamic_styles_ids.push(id);
    });
  };

  abb.modules.theme_header.init({id: 'mk-header',height: '130',stickyHeight: '55',stickyOffset: 'header',hasToolbar: 'false',});
  abb.init();	</script>
{% include analytics.html %}

</body>
</html>
