<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/Article" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    {% include head.html %}

    <meta property="og:site_name" content="TomeCast"/>
    <meta property="og:image"
          content="/img/covers/{{page.categories[1]}}.jpg"/>
    <meta property="og:url" content="{{page.url}}"/>
    <meta property="og:title" content="TomeCast Transcribed Podcast - {{site.data[page.categories[1]].author}} - {{page.title}}"/>
    <meta property="og:description"
          content="Automatically Transcribed Podcast: {{site.data[page.categories[1]].author}} - {{page.title}}"/>
    <meta property="og:type" content="article"/>
    <noscript>
        <style>.wpb_animate_when_almost_visible {
            opacity: 1;
        }</style>
    </noscript>
</head>
<body class="single single-post postid-591 single-format-standard  wpb-js-composer js-comp-ver-4.5.1 vc_responsive"
      data-backText="Back" data-vm-anim="1">

<div id="mk-boxed-layout">
    <div id="mk-theme-container">
        {% include header.html %}
        <div id="theme-page">
            <div class="mk-main-wrapper-holder">
                <div class="theme-page-wrapper mk-blog-single full-layout vc_row-fluid mk-grid ">
                    <div class="theme-content ">
                        <article
                                class=" post type-post status-publish format-standard has-post-thumbnail hentry category-articles category-business tag-audio tag-design">
                            <div class="mk-audio-section mk-audio-shortcode" style="background-color:#acacac"><img
                                    class="audio-thumb" alt="" title=""
                                    src="/img/covers/{{page.categories[1]}}.jpg" style="width:170px"/>

                                <div id="jquery_jplayer" class="jp-jplayer mk-blog-audio"
                                     data-mp3="{{page.episode_url}}"
                                     data-ogg=""></div>
                                <div id="jp_container" class="jp-audio audio-has-img">
                                    <div class="jp-type-single">
                                        <div class="jp-gui jp-interface">
                                            <div class="jp-time-holder">
                                                <div class="jp-current-time"></div>
                                                <div class="jp-duration"></div>
                                            </div>
                                            <div class="jp-progress">
                                                <div class="jp-seek-bar">
                                                    <div class="jp-play-bar"></div>
                                                </div>
                                            </div>
                                            <div class="jp-volume-bar">
                                                <i class="mk-moon-volume-mute"></i>

                                                <div class="inner-value-adjust">
                                                    <div class="jp-volume-bar-value"></div>
                                                </div>
                                            </div>
                                            <ul class="jp-controls">
                                                <li><a href="javascript:;" class="jp-play" tabindex="1"><i
                                                        class="mk-icon-play"></i></a></li>
                                                <li><a href="javascript:;" class="jp-pause" tabindex="1"><i
                                                        class="mk-icon-pause"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="jp-no-solution">
                                            <span>Update Required</span>
                                            To play the media you will need to either update your browser to a recent
                                            version or update your <a href="http://get.adobe.com/flashplayer/"
                                                                      target="_blank">Flash plugin</a>.
                                        </div>
                                    </div>
                                </div>
                                <div class="clearboth"></div>
                            </div>
                            <h2 class="blog-single-title">{{page.title}}</h2>

                            <div class="blog-single-meta">
                                <div class="mk-blog-author"><a href="/podcasts/{{page.categories[1]}}"
                                                               title='Posts in {{site.data[page.categories[1]].name}}' rel="section">{{site.data[page.categories[1]].name}}</a></div>
                                <div class="mk-blog-author">By <a title='Posted By {{site.data[page.categories[1]].author}}' rel="author">{{site.data[page.categories[1]].author}}</a>
                                </div>
                                <time class="mk-post-date" datetime="{{page.date}}">
                                    Posted on <a href="">{{page.date  | date: "%F" }}</a>
                                </time>
                            </div>
                            <div class="single-social-section">
                                <div class="mk-love-holder">
                                    <a href="#" class="mk-love-this " id="mk-love">
                                        <i class="mk-icon-heart"><span>&nbsp;</span></i>
                                        <span class="mk-love-count">2</span>
                                    </a>
                                </div>
                                <a href="#comments" class="blog-modern-comment">
                                    <i class="mk-moon-bubble-9"></i><span> 0</span>
                                </a>
                                <div class="blog-share-container">
                                    <div class="blog-single-share mk-toggle-trigger"><i class="mk-moon-share-2"></i>
                                    </div>
                                    <ul class="single-share-box mk-box-to-trigger">
                                        {% include social_share.html %}
                                    </ul>
                                </div>
                                <a class="mk-blog-print" onClick="window.print()"
                                   href="#" title="Print"><i
                                        class="mk-moon-print-3"></i></a>

                                <div class="clearboth"></div>
                            </div>
                            <div class="clearboth"></div>
                            <div class="mk-single-content" itemprop="mainContentOfPage">
                                <div class="wpb_row vc_row  vc_row-fluid  mk-fullwidth-false  attched-false vc_row-fluid">
                                    <div style="" class="vc_col-sm-12 wpb_column column_container ">
                                        <div class="clearboth"></div>
                                        <div class="mk-shortcode mk-padding-shortcode" style="height:40px"></div>
                                        <div class="clearboth"></div>
                                        <span id="drop-caps-555772840bc14"
                                              class="mk-dropcaps mk-shortcode fancy-style ">D</span>

                                        <div id="ajax-555772840bc14" class="mk-dynamic-styles"></div>
                                        <div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  "><p
                                                style="text-align: justify;"><span style="color: #33cccc;"><strong>Duis
                                            viverra</strong></span>


                                        </p>

                                            <div class="clearboth"></div>
                                        </div>
                                        <div style="font-size: 18px;" id="blockquote-555772840c9ac"
                                             class="mk-shortcode mk-blockquote quote-style ">
                                            {{page.description |raw}}
                                        </div>
                                        <div class="clearboth"></div>
                                        <div class="mk-shortcode mk-padding-shortcode" style="height:20px"></div>
                                        <div class="clearboth"></div>
                                        <div style=" margin-bottom:0px;text-align: left;" class="mk-text-block  ">
                                            <p>
                                            {% assign prev_segment = null %}
                                            {% for segment in page.segments%}
                                                {% if forloop.first == false and prev_segment.speaker != segment.speaker %}
                                            </p><p><!--New speaker-->
                                                {% endif %}
                                                <span data-speaker="{{segment.speaker}}"
                                                      data-timestamp="{{segment.timestamp}}"
                                                      data-length="{{segment.length}}"
                                                      data-uuid="{{segment.uuid}}">
                                                    {{segment.content}}
                                                </span>
                                            {% assign prev_segment = segment %}
                                            {% endfor %}
                                            </p>
                                            <div class="clearboth"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mk-about-author-wrapper">
                                <div class="avatar-wrapper"><img alt='{{site.data[page.categories[1]].author}}'
                                                                 src='/img/covers/{{page.categories[1]}}.jpg'
                                                                 class='avatar avatar-65 photo' height='65' width='65'/>
                                </div>
                                <div class="mk-about-author-meta">
                                    <a class="about-author-name" href="">{{site.data[page.categories[1]].author}}</a>

                                    <div class="about-author-desc">{{site.data[page.categories[1]].description}}</div>

                                </div>
                                <div class="clearboth"></div>
                            </div>
                            <section class="blog-similar-posts">
                                <div class="similar-post-title">Recent Podcasts</div>
                                <ul class="four-cols">
                                    {{ range first 4 .Site.Pages.ByDate }}
                                    <li>
                                        <div class="similar-post-holder"><a class="mk-similiar-thumbnail"
                                                                            href="{{post.url}}"
                                                                            title="{{page.title}}"><img
                                                src="/img/covers/{{page.categories[1]}}.jpg"
                                                alt="{{page.title}}"/>

                                            <div class="image-hover-overlay"></div>
                                        </a><a href="{{.RelPermalink}}" class="mk-similiar-title">{{page.title}}</a></div>
                                    </li>
                                    {{ end }}
                                </ul>
                                <div class="clearboth"></div>
                            </section>
                            <section id="comments">
                            </section>
                        </article>
                        <div class="clearboth"></div>
                    </div>
                    <div class="clearboth"></div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    {% include menu.html %}
</div>
<a href="#" class="mk-go-top"><i class="mk-icon-chevron-up"></i></a>


{% if page.previous %}
<a class="mk-post-nav mk-post-prev with-image" href="{{page.previous.url}}"><span
        class="pagnav-wrapper"><span class="pagenav-top"><span class="pagenav-image"><img width="150" height="150"
              src="/img/covers/{{page.previous.categories[1]}}.jpg"
              class="attachment-thumbnail wp-post-image"
              alt="{{page.previous.title}} Podcast"/></span><span
        class="mk-pavnav-icon"><i class="mk-icon-long-arrow-left"></i></span></span><div class="nav-info-container">
    <span class="pagenav-bottom"><span class="pagenav-title">{{page.previous.title}}</span>{{page.previous.date  | date: "%F"}}</span></div></span></a>

{% endif %}

{% if page.next %}
<a class="mk-post-nav mk-post-next with-image" href="{{page.next.url}}"><span
        class="pagnav-wrapper"><span class="pagenav-top"><span class="mk-pavnav-icon"><i
        class="mk-icon-long-arrow-right"></i></span><span class="pagenav-image"><img width="150" height="150"
             src="/img/covers/{{page.next.categories[1]}}.jpg"
             class="attachment-thumbnail wp-post-image"
             alt="{{page.next.title}} Podcast"/></span></span><div
        class="nav-info-container"><span class="pagenav-bottom"><span
        class="pagenav-title">{{page.next.title}}</span>
    {{page.next.date  | date: "%F"}}
</span></div></span></a>
{% endif %}


<script type='text/javascript' src='/js/scripts-vendors.js'></script>
<script type='text/javascript' src='/js/app.js'></script>
<script type='text/javascript' src='/js/smoothscroll.js'></script>
<script type='text/javascript'
        src='//cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js'></script>

<script type="text/javascript">
    window.$ = jQuery

    $('.mk-dynamic-styles').each(function () {
        $(this).remove();
    });

    function ajaxStylesInjector() {
        $('.mk-dynamic-styles').each(function () {
            var $this = $(this),
                    id = $this.attr('id'),
                    commentedStyles = $this.html();
            styles = commentedStyles
                    .replace('<!--', '')
                    .replace('-->', '');


            if (dynamic_styles_ids.indexOf(id) === -1) {
                $('style[data-ajax]').append(styles);
                $this.remove();
            }

            dynamic_styles_ids.push(id);
        });
    }
    ;

    abb.modules.theme_header.init({
        id: 'mk-header',
        height: '130',
        stickyHeight: '55',
        stickyOffset: 'header',
        hasToolbar: 'false'
    });
    abb.init();    </script>
{% include analytics.html %}
</body>
</html>
 
